<:body>
  <div class="spinner" style='height: {height}px; width: {(width + margin) * 5}px;'>
    <div class="rect1" style='background: {color}; width: {width}px; margin-right:{margin}px;'></div>
    <div class="rect2" style='background: {color}; width: {width}px; margin-right:{margin}px;'></div>
    <div class="rect3" style='background: {color}; width: {width}px; margin-right:{margin}px;'></div>
    <div class="rect4" style='background: {color}; width: {width}px; margin-right:{margin}px;'></div>
    <div class="rect5" style='background: {color}; width: {width}px; margin-right:{margin}px;'></div>
  </div>
  <div style='clear:both;'></div>
</:body>